<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.tsinghuatj.sys.repository.UserAccountMapper">
	<resultMap id="UserAccount" type="org.tsinghuatj.sys.domain.UserAccount">
		<id property="pkId" javaType="Long" column="pk_id" jdbcType="BIGINT" />
		<result property="createUser" javaType="Long" column="create_user" jdbcType="BIGINT" />
		<result property="createTime" javaType="Date" column="create_time" jdbcType="TIMESTAMP" />
		<result property="updateUser" javaType="Long" column="update_user" jdbcType="BIGINT" />
		<result property="updateTime" javaType="Date" column="update_time" jdbcType="TIMESTAMP" />
		<result property="delMark" javaType="Integer" column="del_mark" jdbcType="TINYINT" />
		<result property="loginName" javaType="String" column="login_name" jdbcType="CHAR" />
		<result property="loginPwd" javaType="String" column="login_pwd" jdbcType="CHAR" />
		<result property="realName" javaType="String" column="real_name" jdbcType="CHAR" />
		<result property="mobile" javaType="String" column="mobile" jdbcType="CHAR" />
		<result property="email" javaType="String" column="email" jdbcType="CHAR" />
		<result property="roleId" javaType="Long" column="role_id" jdbcType="BIGINT" />
		<result property="roleName" javaType="String" column="role_name" jdbcType="CHAR" />
		<result property="authCode" javaType="String" column="auth_code" jdbcType="CHAR" />
		<result property="departmentId" javaType="Long" column="department_id" jdbcType="BIGINT" />
		<result property="departmentName" javaType="String" column="department_name" jdbcType="CHAR" />
	</resultMap>

	<!-- 插入数据 -->
	<insert id="insert" parameterType="Map" useGeneratedKeys="false">		
        <![CDATA[
        INSERT INTO t_user_account (
            pk_id,
            create_user,
            create_time,
            update_user,
            update_time,
            del_mark,
            login_name,
            login_pwd,
            real_name,
            mobile,
            role_id,
            auth_code,
            email
        )
        VALUES
            (
                #{userAccount.pkId, jdbcType = BIGINT},
                #{userAccount.createUser, jdbcType = BIGINT},
                #{userAccount.createTime, jdbcType = TIMESTAMP},
                #{userAccount.updateUser, jdbcType = BIGINT},
                #{userAccount.updateTime, jdbcType = TIMESTAMP},
                #{userAccount.delMark, jdbcType = TINYINT},
                #{userAccount.loginName, jdbcType = CHAR},
                #{userAccount.loginPwd, jdbcType = CHAR},
                #{userAccount.realName, jdbcType = CHAR},
                #{userAccount.mobile, jdbcType = CHAR},
                #{userAccount.roleId, jdbcType = BIGINT},
                #{userAccount.authCode, jdbcType = CHAR},
                #{userAccount.email, jdbcType = CHAR}
            )
        ]]>
	</insert>


	<!-- 根据主键更新有值数据 -->
	<update id="updateActiveById" parameterType="Map">
        <![CDATA[UPDATE t_user_account]]>
		<set>
			<if test="userAccount.updateUser != null">
            <![CDATA[update_user = #{userAccount.updateUser, jdbcType=BIGINT},]]>
			</if>
			<if test="userAccount.updateTime != null">
            <![CDATA[update_time = #{userAccount.updateTime, jdbcType=TIMESTAMP},]]>
			</if>
			<if test="userAccount.delMark != null">
            <![CDATA[del_mark = #{userAccount.delMark, jdbcType=TINYINT},]]>
			</if>
			<if test="userAccount.loginName != null and userAccount.loginName != ''">
            <![CDATA[login_name = #{userAccount.loginName, jdbcType=CHAR},]]>
			</if>
			<if test="userAccount.loginPwd != null and userAccount.loginPwd != ''">
            <![CDATA[login_pwd = #{userAccount.loginPwd, jdbcType=CHAR},]]>
			</if>
			<if test="userAccount.realName != null and userAccount.realName != ''">
            <![CDATA[real_name = #{userAccount.realName, jdbcType=CHAR},]]>
			</if>
			<if test="userAccount.mobile != null and userAccount.mobile != ''">
            <![CDATA[mobile = #{userAccount.mobile, jdbcType=CHAR},]]>
			</if>
			<if test="userAccount.roleId != null">
            <![CDATA[role_id = #{userAccount.roleId, jdbcType=BIGINT},]]>
			</if>			
            <![CDATA[auth_Code = #{userAccount.authCode, jdbcType=CHAR},]]>

			<if test="userAccount.email != null and userAccount.email != ''">
            <![CDATA[email = #{userAccount.email, jdbcType=CHAR},]]>
			</if>
		</set>
		<where>
        <![CDATA[AND pk_id = #{userAccountId, jdbcType=BIGINT}]]>
		</where>
        <![CDATA[LIMIT 1]]>
	</update>

	<!-- 查询列表 -->
	<select id="select" parameterType="Map" resultMap="UserAccount">
        <![CDATA[
        SELECT
            t.pk_id AS pk_id,           
            t.login_name AS login_name,           
            t.real_name AS real_name,          
            t.mobile AS mobile,
            t.email AS email,
            r.role_name AS role_name
        FROM
            t_user_account t
            Inner join t_sys_role_info r on t.role_id = r.pk_id
        ]]>
		<where>
			<if test="userAccount.pkId != null">
            <![CDATA[AND t.pk_id = #{userAccount.pkId, jdbcType=BIGINT}]]>
			</if>
			<if test="userAccount.createUser != null">
            <![CDATA[AND t.create_user = #{userAccount.createUser, jdbcType=BIGINT}]]>
			</if>
			<if test="userAccount.createTime != null">
            <![CDATA[AND t.create_time = #{userAccount.createTime, jdbcType=TIMESTAMP}]]>
			</if>
			<if test="userAccount.updateUser != null">
            <![CDATA[AND t.update_user = #{userAccount.updateUser, jdbcType=BIGINT}]]>
			</if>
			<if test="userAccount.updateTime != null">
            <![CDATA[AND t.update_time = #{userAccount.updateTime, jdbcType=TIMESTAMP}]]>
			</if>
			<if test="userAccount.delMark != null">
            <![CDATA[AND t.del_mark = #{userAccount.delMark, jdbcType=TINYINT}]]>
			</if>
			<if test="userAccount.loginName != null and userAccount.loginName != ''">
            <![CDATA[AND t.login_name = #{userAccount.loginName, jdbcType=CHAR}]]>
			</if>
			<if test="userAccount.loginPwd != null and userAccount.loginPwd != ''">
            <![CDATA[AND t.login_pwd = #{userAccount.loginPwd, jdbcType=CHAR}]]>
			</if>
			<if test="userAccount.realName != null and userAccount.realName != ''">
            <![CDATA[AND t.real_name = #{userAccount.realName, jdbcType=CHAR}]]>
			</if>
			<if test="userAccount.mobile != null and userAccount.mobile != ''">
            <![CDATA[AND t.mobile = #{userAccount.mobile, jdbcType=CHAR}]]>
			</if>
			<if test="userAccount.email != null and userAccount.email != ''">
            <![CDATA[AND t.email = #{userAccount.email, jdbcType=CHAR}]]>
			</if>
		</where>
	</select>

	<select id="selectByIdList" parameterType="Map" resultMap="UserAccount">	
	 <![CDATA[
        SELECT
            t.pk_id AS pk_id,           
            t.login_name AS login_name,         
            t.real_name AS real_name
        FROM
            t_user_account t
        ]]>
		<where>
        <![CDATA[AND pk_id in ]]>
			<foreach item="item" index="index" collection="idList" open="(" separator="," close=")">
				#{item}
			</foreach>
		</where>
	</select>

	<!-- 分页查询 -->
	<select id="selectPageList" parameterType="Map" resultMap="UserAccount">
        <![CDATA[
        SELECT
            t.pk_id AS pk_id,
            t.create_user AS create_user,
            t.create_time AS create_time,
            t.update_user AS update_user,
            t.update_time AS update_time,
            t.login_name AS login_name,          
            t.real_name AS real_name,
            t.mobile AS mobile,
            t.role_id AS role_id,
            r.role_name AS role_name,
            t.auth_code AS auth_code,
            s.department_name AS department_name
        FROM
            t_user_account t
            Inner join t_sys_role_info r on t.role_id = r.pk_id and r.del_mark = 0
            inner join t_staff s on t.login_name = s.staff_code and s.del_mark =0
        ]]>
		<where>	
            <![CDATA[AND t.del_mark = 0]]>
			<if test="userAccount.loginName != null and userAccount.loginName != ''">
            <![CDATA[AND t.login_name = #{userAccount.loginName, jdbcType=CHAR}]]>
			</if>
			<if test="userAccount.realName != null and userAccount.realName != ''">
            <![CDATA[AND t.real_name = #{userAccount.realName, jdbcType=CHAR}]]>
			</if>
			<if test="userAccount.departmentId != null ">
            <![CDATA[AND s.department_id = #{userAccount.departmentId, jdbcType=CHAR}]]>
			</if>			
		</where>
	</select>



	<!-- 根据主键查询 -->
	<select id="selectById" parameterType="Map" resultMap="UserAccount">
        <![CDATA[
        SELECT
            t.pk_id AS pk_id,
            t.login_name AS login_name,          
            t.real_name AS real_name,           
            t.role_id AS role_id,
            s.department_id AS department_id
        FROM
            t_user_account t left join t_staff s on t.login_name = s.staff_code and s.del_mark = 0
        ]]>
		<where>
        <![CDATA[AND t.pk_id = #{userAccountId, jdbcType=BIGINT}]]>
		</where>
        <![CDATA[LIMIT 1]]>
	</select>

	<!-- 按主键逻辑删除 -->
	<delete id="deleteById" parameterType="Map">
        <![CDATA[UPDATE t_user_account SET del_mark = 1,update_user=#{userAccount.updateUser, jdbcType=BIGINT},update_time=#{userAccount.updateTime, jdbcType=TIMESTAMP}]]>
		<where>
        <![CDATA[AND pk_id = #{userAccount.pkId, jdbcType=BIGINT}]]>
		</where>
        <![CDATA[LIMIT 1]]>
	</delete>

	<!-- 按主键物理删除 -->
	<delete id="removeById" parameterType="Map">
        <![CDATA[DELETE FROM t_user_account]]>
		<where>
        <![CDATA[AND pk_id = #{userAccountId, jdbcType=BIGINT}]]>
		</where>
        <![CDATA[LIMIT 1]]>
	</delete>

	<select id="checkLoginName" parameterType="Map" resultMap="UserAccount">
        <![CDATA[
        SELECT
            t.pk_id AS pk_id,
            t.login_name AS login_name,          
            t.real_name AS real_name,
            t.mobile AS mobile,
            t.role_id AS role_id
        FROM
            t_user_account t
        ]]>
		<where>
		 <![CDATA[AND t.login_name = #{loginName, jdbcType=CHAR} and del_mark = 0]]>
			<if test="pkId != null">
            <![CDATA[AND t.pk_id != #{pkId, jdbcType=BIGINT}]]>
			</if>
		</where>
        <![CDATA[LIMIT 1]]>
	</select>

</mapper>