<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.tsinghuatj.base.repository.CheckStandardMapper">
	<resultMap id="CheckStandard" type="org.tsinghuatj.base.domain.CheckStandard">
		<id property="pkId" javaType="Long" column="pk_id" jdbcType="BIGINT" />
		<result property="createUser" javaType="Long" column="create_user" jdbcType="BIGINT" />
		<result property="createTime" javaType="Date" column="create_time" jdbcType="TIMESTAMP" />
		<result property="updateUser" javaType="Long" column="update_user" jdbcType="BIGINT" />
		<result property="updateTime" javaType="Date" column="update_time" jdbcType="TIMESTAMP" />
		<result property="delMark" javaType="Integer" column="del_mark" jdbcType="TINYINT" />
		<result property="checkType" javaType="Integer" column="check_type" jdbcType="INTEGER" />
		<result property="materialType" javaType="Integer" column="material_type" jdbcType="INTEGER" />
		<result property="materialNumber" javaType="String" column="material_number" jdbcType="CHAR" />
		<result property="materialName" javaType="String" column="material_name" jdbcType="CHAR" />
		<result property="materialMap" javaType="String" column="material_map" jdbcType="CHAR" />
		<result property="appendixId" javaType="Long" column="appendix_id" jdbcType="BIGINT" />
		<result property="sourceName" javaType="String" column="source_name" jdbcType="VARCHAR" />
		<result property="standardDesc" javaType="String" column="standard_desc" jdbcType="VARCHAR" />
	</resultMap>

	<insert id="insert" parameterType="Map" useGeneratedKeys="false">		
        <![CDATA[
        INSERT INTO t_check_standard (
            pk_id,
            create_user,
            create_time,
            update_user,
            update_time,
            del_mark,          
            material_type,
            material_number,  
            material_name, 
            material_map,        
            standard_desc,           
            check_type
        )
        VALUES
            (
                #{checkStandard.pkId, jdbcType = BIGINT},
                #{checkStandard.createUser, jdbcType = BIGINT},
                #{checkStandard.createTime, jdbcType = TIMESTAMP},
                #{checkStandard.updateUser, jdbcType = BIGINT},
                #{checkStandard.updateTime, jdbcType = TIMESTAMP},
                #{checkStandard.delMark, jdbcType = TINYINT},
                #{checkStandard.materialType, jdbcType = INTEGER},   
                #{checkStandard.materialNumber, jdbcType = CHAR},  
                #{checkStandard.materialName, jdbcType = CHAR}, 
                #{checkStandard.materialMap, jdbcType = CHAR},               
                #{checkStandard.standardDesc, jdbcType = VARCHAR},               
                #{checkStandard.checkType, jdbcType = INTEGER}
            )
        ]]>
	</insert>

	<!-- 根据主键更新有值数据 -->
	<update id="updateActiveById" parameterType="Map">
        <![CDATA[UPDATE t_check_standard]]>
		<set>
			<if test="checkStandard.updateUser != null">
            <![CDATA[update_user = #{checkStandard.updateUser, jdbcType=BIGINT},]]>
			</if>
			<if test="checkStandard.updateTime != null">
            <![CDATA[update_time = #{checkStandard.updateTime, jdbcType=TIMESTAMP},]]>
			</if>
			<if test="checkStandard.materialNumber != null and checkStandard.materialNumber != ''">
            <![CDATA[material_number = #{checkStandard.materialNumber, jdbcType=CHAR},]]>
			</if>	
			<if test="checkStandard.materialMap != null and checkStandard.materialMap != ''">
            <![CDATA[material_map = #{checkStandard.materialMap, jdbcType=CHAR},]]>
			</if>
			<if test="checkStandard.materialName != null and checkStandard.materialName != ''">
            <![CDATA[material_name = #{checkStandard.materialName, jdbcType=CHAR},]]>
			</if>				
            <![CDATA[standard_desc = #{checkStandard.standardDesc, jdbcType=VARCHAR},]]>			
			<if test="checkStandard.checkType != null">
            <![CDATA[check_type = #{checkStandard.checkType, jdbcType=INTEGER},]]>
			</if>
		</set>
		<where>
        <![CDATA[AND pk_id = #{checkStandardId, jdbcType=BIGINT}]]>
		</where>
        <![CDATA[LIMIT 1]]>
	</update>

	<!-- 查询列表 -->
	<select id="selectFixtureList" parameterType="Map" resultMap="CheckStandard">
        <![CDATA[
         SELECT
            t.pk_id AS pk_id,   
            t.material_type AS material_type,        
            t.material_number AS material_number,
            b.fixture_name as material_name,
            b.fixture_map as material_map,
            t.standard_desc AS standard_desc,
            t.check_type AS check_type,
            t.create_time as create_time           
        FROM
            t_check_standard t
            inner join t_fixture_base b on t.material_number = b.fixture_number and b.del_mark = 0
        ]]>
		<where>			
			<if test="checkStandard.materialType != null">
            <![CDATA[AND t.material_type = #{checkStandard.materialType, jdbcType=INTEGER}]]>
			</if>
			<if test="checkStandard.checkType != null">
            <![CDATA[AND t.check_type = #{checkStandard.checkType, jdbcType=INTEGER}]]>
			</if>
			<if test="checkStandard.materialNumber != null and checkStandard.materialNumber != ''">
            <![CDATA[AND t.material_number = #{checkStandard.materialNumber, jdbcType=CHAR}]]>
			</if>	
			<if test="checkStandard.materialMap != null and checkStandard.materialMap != ''">
            <![CDATA[AND t.material_map = #{checkStandard.materialMap, jdbcType=CHAR}]]>
			</if>
			<![CDATA[AND t.del_mark = 0]]>			
		</where>
	</select>
	
	<!-- 查询列表 -->
	<select id="selectToolList" parameterType="Map" resultMap="CheckStandard">
        <![CDATA[
         SELECT
            t.pk_id AS pk_id,   
            t.material_type AS material_type,        
            t.material_number AS material_number,
            b.tool_name as material_name,
            b.tool_map as material_map,
            t.standard_desc AS standard_desc,
            t.check_type AS check_type,
            t.create_time as create_time           
        FROM
            t_check_standard t
            inner join t_tool_base b on t.material_number = b.tool_number and b.del_mark = 0
        ]]>
		<where>		
		   <if test="checkStandard.typeId != null">
            <![CDATA[AND b.type_id = #{checkStandard.typeId, jdbcType=INTEGER}]]>
			</if>	
			<if test="checkStandard.materialType != null">
            <![CDATA[AND t.material_type = #{checkStandard.materialType, jdbcType=INTEGER}]]>
			</if>
			<if test="checkStandard.materialNumber != null and checkStandard.materialNumber != ''">
            <![CDATA[AND t.material_number = #{checkStandard.materialNumber, jdbcType=CHAR}]]>
			</if>	
			<if test="checkStandard.materialMap != null and checkStandard.materialMap != ''">
            <![CDATA[AND t.material_map = #{checkStandard.materialMap, jdbcType=CHAR}]]>
			</if>
			<if test="checkStandard.checkType != null">
            <![CDATA[AND t.check_type = #{checkStandard.checkType, jdbcType=INTEGER}]]>
			</if>
			<![CDATA[AND t.del_mark = 0]]>			
		</where>
	</select>

	<!-- 根据编号查询 -->
	<select id="selectByMaterialNumber" parameterType="Map" resultMap="CheckStandard">
        <![CDATA[
        SELECT
           t.pk_id AS pk_id,   
           t.material_number AS material_number,  
           t.material_name AS material_name,
           t.material_map AS material_map,    
           t.material_type AS material_type,                    
           t.standard_desc AS standard_desc,
           t.check_type AS check_type,
           a.pk_id AS appendix_id,           
           a.source_name AS source_name
        FROM
            t_check_standard t left join t_tool_appendix a on t.pk_id = a.check_id and a.del_mark = 0
        ]]>
		<where>			
            <![CDATA[AND t.material_type =  #{materialType, jdbcType=INTEGER} AND t.material_number = #{materialNumber, jdbcType=CHAR}]]>
			<if test="checkType != null">
            <![CDATA[AND t.check_type = #{checkType, jdbcType=INTEGER}]]>
			</if>
			<if test="pkId != null">
            <![CDATA[AND t.pk_id <> #{pkId, jdbcType=BIGINT}]]>
			</if>
			 <![CDATA[AND t.del_mark = 0]]>
		</where>
		<![CDATA[LIMIT 1]]>
	</select>


	<!-- 分页查询 -->
	<select id="selectToolPageList" parameterType="Map" resultMap="CheckStandard">
        <![CDATA[
        SELECT
            t.pk_id AS pk_id,  
            t.create_user AS create_user,
            t.create_time AS create_time,
            t.update_user AS update_user,
            t.update_time AS update_time, 
            t.material_type AS material_type,        
            t.material_number AS material_number,
            b.tool_name as material_name,
            b.tool_map as material_map,
            t.standard_desc AS standard_desc,
            t.check_type AS check_type,
            t.create_time as create_time           
        FROM
            t_check_standard t
            inner join t_tool_base b on t.material_number = b.tool_number and b.del_mark = 0
        ]]>
		<where>			
            <![CDATA[AND t.del_mark = 0]]>
            <if test="checkStandard.typeId != null">
            <![CDATA[AND b.type_id = #{checkStandard.typeId, jdbcType=INTEGER}]]>
			</if>
			<if test="checkStandard.checkType != null">
            <![CDATA[AND t.check_type = #{checkStandard.checkType, jdbcType=INTEGER}]]>
			</if>
			<if test="checkStandard.materialNumber != null and checkStandard.materialNumber != ''">
            <![CDATA[AND t.material_number = #{checkStandard.materialNumber, jdbcType=CHAR}]]>
			</if>
			<if test="checkStandard.materialMap != null and checkStandard.materialMap != ''">
            <![CDATA[AND t.material_map = #{checkStandard.materialMap, jdbcType=CHAR}]]>
			</if>
		</where>
		<![CDATA[ORDER BY t.pk_id DESC]]>
	</select>
	
	<select id="selectFixturePageList" parameterType="Map" resultMap="CheckStandard">
        <![CDATA[
        SELECT
            t.pk_id AS pk_id,   
            t.create_user AS create_user,
            t.create_time AS create_time,
            t.update_user AS update_user,
            t.update_time AS update_time,
            t.material_type AS material_type,        
            t.material_number AS material_number,
            b.fixture_name as material_name,
            b.fixture_map as material_map,
            t.standard_desc AS standard_desc,
            t.check_type AS check_type,
            t.create_time as create_time           
        FROM
            t_check_standard t
            inner join t_fixture_base b on t.material_number = b.fixture_number and b.del_mark = 0
        ]]>
		<where>			
            <![CDATA[AND t.del_mark = 0]]>
			<if test="checkStandard.checkType != null">
            <![CDATA[AND t.check_type = #{checkStandard.checkType, jdbcType=INTEGER}]]>
			</if>
			<if test="checkStandard.materialNumber != null and checkStandard.materialNumber != ''">
            <![CDATA[AND t.material_number = #{checkStandard.materialNumber, jdbcType=CHAR}]]>
			</if>
			<if test="checkStandard.materialMap != null and checkStandard.materialMap != ''">
            <![CDATA[AND t.material_map = #{checkStandard.materialMap, jdbcType=CHAR}]]>
			</if>
		</where>
		<![CDATA[ORDER BY t.pk_id DESC]]>
	</select>
	
	
	<select id="selectHeadPageList" parameterType="Map" resultMap="CheckStandard">
        <![CDATA[
        SELECT
            t.pk_id AS pk_id,   
            t.create_user AS create_user,
            t.create_time AS create_time,
            t.update_user AS update_user,
            t.update_time AS update_time,
            t.material_type AS material_type,        
            t.material_number AS material_number,
            h.head_name as material_name,           
            t.standard_desc AS standard_desc,
            t.check_type AS check_type,
            t.create_time as create_time           
        FROM
            t_check_standard t
            inner join t_tool_head h on t.material_number = h.head_number and h.del_mark = 0
        ]]>
		<where>			
            <![CDATA[AND t.del_mark = 0]]>
			<if test="checkStandard.checkType != null">
            <![CDATA[AND t.check_type = #{checkStandard.checkType, jdbcType=INTEGER}]]>
			</if>
			<if test="checkStandard.materialNumber != null and checkStandard.materialNumber != ''">
            <![CDATA[AND t.material_number = #{checkStandard.materialNumber, jdbcType=CHAR}]]>
			</if>			
		</where>
		<![CDATA[ORDER BY t.pk_id DESC]]>
	</select>
	
	
	
	
	
	<select id="selectPageList" parameterType="Map" resultMap="CheckStandard">
        <![CDATA[
        SELECT
            t.pk_id AS pk_id,   
            t.create_user AS create_user,
            t.create_time AS create_time,
            t.update_user AS update_user,
            t.update_time AS update_time,
            t.material_type AS material_type,        
            t.material_number AS material_number,
            t.material_name as material_name,
            t.material_map as material_map,
            t.standard_desc AS standard_desc,
            t.check_type AS check_type,
            t.create_time as create_time           
        FROM
            t_check_standard t
        ]]>
		<where>			
            <![CDATA[AND t.del_mark = 0]]>
			<if test="checkStandard.materialType != null">
            <![CDATA[AND t.material_type = #{checkStandard.materialType, jdbcType=INTEGER}]]>
			</if>
			<if test="checkStandard.checkType != null">
            <![CDATA[AND t.check_type = #{checkStandard.checkType, jdbcType=INTEGER}]]>
			</if>
			<if test="checkStandard.materialNumber != null and checkStandard.materialNumber != ''">
            <![CDATA[AND t.material_number = #{checkStandard.materialNumber, jdbcType=CHAR}]]>
			</if>
			<if test="checkStandard.materialMap != null and checkStandard.materialMap != ''">
            <![CDATA[AND t.material_map = #{checkStandard.materialMap, jdbcType=CHAR}]]>
			</if>
		</where>
		<![CDATA[ORDER BY t.pk_id DESC]]>
	</select>
	

	<!-- 根据主键查询 -->
	<select id="selectById" parameterType="Map" resultMap="CheckStandard">
        <![CDATA[
        SELECT
            t.pk_id AS pk_id,   
            t.material_number AS material_number,  
            t.material_name AS material_name,
            t.material_map AS material_map,    
            t.material_type AS material_type,                    
            t.standard_desc AS standard_desc,           
            t.check_type AS check_type,
            a.pk_id AS appendix_id,
            a.source_name AS source_name
        FROM
            t_check_standard t left join t_tool_appendix a on t.pk_id = a.check_id and a.del_mark = 0
        ]]>
		<where>
        <![CDATA[AND t.pk_id = #{checkStandardId, jdbcType=BIGINT}]]>
		</where>
        <![CDATA[LIMIT 1]]>
	</select>

	<!-- 按主键逻辑删除 -->
	<delete id="deleteById" parameterType="Map">
        <![CDATA[UPDATE t_check_standard SET del_mark = 1,update_user=#{checkStandard.updateUser, jdbcType=BIGINT},update_time=#{checkStandard.updateTime, jdbcType=TIMESTAMP}]]>
		<where>
        <![CDATA[AND pk_id = #{checkStandard.pkId, jdbcType=BIGINT}]]>
		</where>
        <![CDATA[LIMIT 1]]>
	</delete>

	<!-- 按主键物理删除 -->
	<delete id="removeById" parameterType="Map">
        <![CDATA[DELETE FROM t_check_standard]]>
		<where>
        <![CDATA[AND pk_id = #{checkStandardId, jdbcType=BIGINT}]]>
		</where>
        <![CDATA[LIMIT 1]]>
	</delete>
</mapper>