<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.tsinghuatj.tool.repository.ToolPurchaseResultMapper">
	<resultMap id="ToolPurchaseResult" type="org.tsinghuatj.tool.domain.ToolPurchaseResult">
		<id property="pkId" javaType="Long" column="pk_id" jdbcType="BIGINT" />
		<result property="createUser" javaType="Long" column="create_user" jdbcType="BIGINT" />
		<result property="createTime" javaType="Date" column="create_time" jdbcType="TIMESTAMP" />
		<result property="updateUser" javaType="Long" column="update_user" jdbcType="BIGINT" />
		<result property="updateTime" javaType="Date" column="update_time" jdbcType="TIMESTAMP" />
		<result property="delMark" javaType="Integer" column="del_mark" jdbcType="TINYINT" />
		<result property="result" javaType="Integer" column="result" jdbcType="TINYINT" />
		<result property="approverId" javaType="Long" column="approver_id" jdbcType="BIGINT" />
		<result property="approverName" javaType="String" column="approver_name" jdbcType="CHAR" />
		<result property="remark" javaType="String" column="remark" jdbcType="VARCHAR" />
	</resultMap>

	<!-- 插入数据 -->
	<!-- 插入数据 -->
	<insert id="insert" parameterType="Map" useGeneratedKeys="false">		
        <![CDATA[
        INSERT INTO t_tool_purchase_result (
            pk_id,
            create_user,
            create_time,
            update_user,
            update_time,
            del_mark,
            result,
            approver_id,
            approver_name,
            remark
        )
        VALUES
            (
                #{toolPurchaseResult.pkId, jdbcType = BIGINT},
                #{toolPurchaseResult.createUser, jdbcType = BIGINT},
                #{toolPurchaseResult.createTime, jdbcType = TIMESTAMP},
                #{toolPurchaseResult.updateUser, jdbcType = BIGINT},
                #{toolPurchaseResult.updateTime, jdbcType = TIMESTAMP},
                #{toolPurchaseResult.delMark, jdbcType = TINYINT},
                #{toolPurchaseResult.result, jdbcType = TINYINT},
                #{toolPurchaseResult.approverId, jdbcType = BIGINT},
                #{toolPurchaseResult.approverName, jdbcType = CHAR},
                #{toolPurchaseResult.remark, jdbcType = VARCHAR}
            )
        ]]>
	</insert>


	<!-- 根据主键更新有值数据 -->
	<update id="updateActiveById" parameterType="Map">
        <![CDATA[UPDATE t_tool_purchase_result]]>
		<set>
			<if test="toolPurchaseResult.createUser != null">
            <![CDATA[create_user = #{toolPurchaseResult.createUser, jdbcType=BIGINT},]]>
			</if>
			<if test="toolPurchaseResult.createTime != null">
            <![CDATA[create_time = #{toolPurchaseResult.createTime, jdbcType=TIMESTAMP},]]>
			</if>
			<if test="toolPurchaseResult.updateUser != null">
            <![CDATA[update_user = #{toolPurchaseResult.updateUser, jdbcType=BIGINT},]]>
			</if>
			<if test="toolPurchaseResult.updateTime != null">
            <![CDATA[update_time = #{toolPurchaseResult.updateTime, jdbcType=TIMESTAMP},]]>
			</if>
			<if test="toolPurchaseResult.delMark != null">
            <![CDATA[del_mark = #{toolPurchaseResult.delMark, jdbcType=TINYINT},]]>
			</if>
			<if test="toolPurchaseResult.result != null">
            <![CDATA[result = #{toolPurchaseResult.result, jdbcType=TINYINT},]]>
			</if>
			<if test="toolPurchaseResult.approverId != null">
            <![CDATA[approver_id = #{toolPurchaseResult.approverId, jdbcType=BIGINT},]]>
			</if>
			<if test="toolPurchaseResult.approverName != null and toolPurchaseResult.approverName != ''">
            <![CDATA[approver_name = #{toolPurchaseResult.approverName, jdbcType=CHAR},]]>
			</if>
			<if test="toolPurchaseResult.remark != null and toolPurchaseResult.remark != ''">
            <![CDATA[remark = #{toolPurchaseResult.remark, jdbcType=VARCHAR},]]>
			</if>
		</set>
		<where>
        <![CDATA[AND pk_id = #{toolPurchaseResultId, jdbcType=BIGINT}]]>
		</where>
        <![CDATA[LIMIT 1]]>
	</update>

	<!-- 查询列表 -->
	<select id="select" parameterType="Map" resultMap="ToolPurchaseResult">
        <![CDATA[
        SELECT
            t.pk_id AS pk_id,
            t.create_user AS create_user,
            t.create_time AS create_time,
            t.update_user AS update_user,
            t.update_time AS update_time,
            t.del_mark AS del_mark,
            t.result AS result,
            t.approver_id AS approver_id,
            t.approver_name AS approver_name,
            t.remark AS remark
        FROM
            t_tool_purchase_result t
        ]]>
		<where>
			<if test="toolPurchaseResult.pkId != null">
            <![CDATA[AND t.pk_id = #{toolPurchaseResult.pkId, jdbcType=BIGINT}]]>
			</if>
			<if test="toolPurchaseResult.createUser != null">
            <![CDATA[AND t.create_user = #{toolPurchaseResult.createUser, jdbcType=BIGINT}]]>
			</if>
			<if test="toolPurchaseResult.createTime != null">
            <![CDATA[AND t.create_time = #{toolPurchaseResult.createTime, jdbcType=TIMESTAMP}]]>
			</if>
			<if test="toolPurchaseResult.updateUser != null">
            <![CDATA[AND t.update_user = #{toolPurchaseResult.updateUser, jdbcType=BIGINT}]]>
			</if>
			<if test="toolPurchaseResult.updateTime != null">
            <![CDATA[AND t.update_time = #{toolPurchaseResult.updateTime, jdbcType=TIMESTAMP}]]>
			</if>
			<if test="toolPurchaseResult.delMark != null">
            <![CDATA[AND t.del_mark = #{toolPurchaseResult.delMark, jdbcType=TINYINT}]]>
			</if>
			<if test="toolPurchaseResult.result != null">
            <![CDATA[AND t.result = #{toolPurchaseResult.result, jdbcType=TINYINT}]]>
			</if>
			<if test="toolPurchaseResult.approverId != null">
            <![CDATA[AND t.approver_id = #{toolPurchaseResult.approverId, jdbcType=BIGINT}]]>
			</if>
			<if test="toolPurchaseResult.approverName != null and toolPurchaseResult.approverName != ''">
            <![CDATA[AND t.approver_name = #{toolPurchaseResult.approverName, jdbcType=CHAR}]]>
			</if>
			<if test="toolPurchaseResult.remark != null and toolPurchaseResult.remark != ''">
            <![CDATA[AND t.remark = #{toolPurchaseResult.remark, jdbcType=VARCHAR}]]>
			</if>
			<![CDATA[AND t.del_mark = 0]]>
		</where>
	</select>
	
	<!-- 分页查询 -->
	<select id="selectPageList" parameterType="Map" resultMap="ToolPurchaseResult">
        <![CDATA[
        SELECT
            t.pk_id AS pk_id,
            t.create_user AS create_user,
            t.create_time AS create_time,
            t.update_user AS update_user,
            t.update_time AS update_time,
            t.del_mark AS del_mark,
            t.result AS result,
            t.approver_id AS approver_id,
            t.approver_name AS approver_name,
            t.remark AS remark
        FROM
            t_tool_purchase_result t
        ]]>
		<where>
			<if test="toolPurchaseResult.pkId != null">
            <![CDATA[AND t.pk_id = #{toolPurchaseResult.pkId, jdbcType=BIGINT}]]>
			</if>
			<if test="toolPurchaseResult.createUser != null">
            <![CDATA[AND t.create_user = #{toolPurchaseResult.createUser, jdbcType=BIGINT}]]>
			</if>
			<if test="toolPurchaseResult.createTime != null">
            <![CDATA[AND t.create_time = #{toolPurchaseResult.createTime, jdbcType=TIMESTAMP}]]>
			</if>
			<if test="toolPurchaseResult.updateUser != null">
            <![CDATA[AND t.update_user = #{toolPurchaseResult.updateUser, jdbcType=BIGINT}]]>
			</if>
			<if test="toolPurchaseResult.updateTime != null">
            <![CDATA[AND t.update_time = #{toolPurchaseResult.updateTime, jdbcType=TIMESTAMP}]]>
			</if>
			<if test="toolPurchaseResult.delMark != null">
            <![CDATA[AND t.del_mark = #{toolPurchaseResult.delMark, jdbcType=TINYINT}]]>
			</if>
			<if test="toolPurchaseResult.result != null">
            <![CDATA[AND t.result = #{toolPurchaseResult.result, jdbcType=TINYINT}]]>
			</if>
			<if test="toolPurchaseResult.approverId != null">
            <![CDATA[AND t.approver_id = #{toolPurchaseResult.approverId, jdbcType=BIGINT}]]>
			</if>
			<if test="toolPurchaseResult.approverName != null and toolPurchaseResult.approverName != ''">
            <![CDATA[AND t.approver_name = #{toolPurchaseResult.approverName, jdbcType=CHAR}]]>
			</if>
			<if test="toolPurchaseResult.remark != null and toolPurchaseResult.remark != ''">
            <![CDATA[AND t.remark = #{toolPurchaseResult.remark, jdbcType=VARCHAR}]]>
			</if>
			<![CDATA[AND t.del_mark = 0]]>
		</where>
		<![CDATA[ORDER BY t.pk_id DESC]]>
	</select>

	<!-- 根据主键查询 -->
	<select id="selectById" parameterType="Map" resultMap="ToolPurchaseResult">
        <![CDATA[
        SELECT
            t.pk_id AS pk_id,
            t.create_user AS create_user,
            t.create_time AS create_time,
            t.update_user AS update_user,
            t.update_time AS update_time,
            t.del_mark AS del_mark,
            t.result AS result,
            t.approver_id AS approver_id,
            t.approver_name AS approver_name,
            t.remark AS remark
        FROM
            t_tool_purchase_result t
        ]]>
		<where>
        <![CDATA[AND t.pk_id = #{toolPurchaseResultId, jdbcType=BIGINT}]]>
        <![CDATA[AND t.del_mark = 0]]>
		</where>
        <![CDATA[LIMIT 1]]>
	</select>

	<!-- 按主键逻辑删除 -->
	<delete id="deleteById" parameterType="Map">
        <![CDATA[UPDATE t_tool_purchase_result SET del_mark = 1,update_user=#{toolPurchaseResult.updateUser, jdbcType=BIGINT},update_time=#{toolPurchaseResult.updateTime, jdbcType=TIMESTAMP}]]>
		<where>
        <![CDATA[AND pk_id = #{toolPurchaseResult.pkId, jdbcType=BIGINT}]]>
		</where>
        <![CDATA[LIMIT 1]]>
	</delete>
	
	<!-- 按主键物理删除 -->
	<delete id="removeById" parameterType="Map">
        <![CDATA[DELETE FROM t_tool_purchase_result]]>
		<where>
        <![CDATA[AND pk_id = #{toolPurchaseResultId, jdbcType=BIGINT}]]>
		</where>
        <![CDATA[LIMIT 1]]>
	</delete>
</mapper>